.creative{
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    /* background-color: #f8f8f8; */
    box-shadow: 0 8px 16px rgba(136, 129, 129, 0.614); /* Adjust shadow as needed */
  }
  .creative-left {
    flex-basis: 40%;
    position: relative;
  }
  .creative-right {
    flex-basis: 56%;
  }
  .creative-img {
    width: 100%;
    border-radius: 10px;
  }
  .play-icon {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .creative h3 {
    font-weight: 600;
    font-size: 19px;
    color: #ff0000;
    /* margin-top: -60px; */
  }
  .creative h2 {
    font-size: 35px;
    color: #000;
    margin: 10px 0;
    max-width: 400px;
  }
  .creative p {
    color: #555;
    margin-bottom: 15px;
    text-transform: none;
    line-height: 1.6;
    font-size: 15px;
  }
  
  /* media query */
  @media (max-width: 800px) {
    .creative {
      flex-direction: column;
      margin: 40px auto;
      padding: 20px 20px;
      /* width: 100%; */
    }
    .creative-left {
      flex-basis: 100%;
      /* margin: 10px; */
      order: -1;
    }
    .creative-right {
      flex-basis: 100%;
    }
    .creative-right h3 {
      font-size: 16px;
    }
    .creative-right h2 {
      font-size: 20px;
    }
    .creative-right p {
      font-size: 14px;
    }
  }
  