.cohorts {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows images to wrap to new lines */
    margin-bottom: 40px;
}

.gallery img {
    width: 23%; /* Default: 4 images per row on large screens */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(4, 4, 4, 0.614); /* Adjust shadow as needed */
    transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
}

/* Hover Effect */
.gallery img:hover {
    transform: scale(1.05); /* Slightly enlarges the image */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7); /* Adds a deeper shadow */
    filter: brightness(1.1); /* Slightly increases brightness */
}

/* Responsive Design */

/* 2 images per row on tablets (iPads) */
@media (max-width: 1024px) {
    .gallery{
        margin-bottom: 40px;
        gap: 20px;
    }
    .gallery img {
        width: 45%; 
    }
}

/* 1 image per row on small screens (mobile phones) */
@media (max-width: 600px) {
    .gallery{
        /* margin-bottom: 60px; */
        gap: 40px;
    }
    .gallery img {
        width: 100%; /* Full width (one per row) */
    }
}
