/* Testimonials Section */
.testimonials {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

/* Navigation Buttons */
.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: #ff0000;
  width: 50px;
}

.back-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

/* Slider Container */
.slider {
  overflow: hidden;
  width: 100%;
}

/* Slider List */
.slider ul {
  display: flex;
  width: 200%;
  transition: 0.5s ease-in-out;
}

/* Testimonial Items */
.slider ul li {
  list-style: none;
  width: 50%;
  padding: 20px;
}

/* Testimonial Box */
.slide {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 40px;
  border-radius: 10px;
  color: #000;
  line-height: 1.4;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.user-info img {
  width: 65px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ff0000;
}

.user-info h3 {
  color: #ff0000;
}

.testimony-btn {
  margin: 0 40%;
  transition: background 0.3s ease-in-out;
}

/* Responsive Styling for Smaller Screens */
@media (max-width: 800px) {
  .testimonials {
    padding: 0 40px;
  }

  .next-btn,
  .back-btn {
    padding: 10px;
    width: 40px;
  }

  .slider ul {
    width: 400%; /* Adjust width for smooth scrolling */
  }

  .slider ul li {
    width: 100%; /* Display only one testimonial at a time */
    padding: 10px;
  }

  .slide {
    padding: 20px;
  }

  .slide img {
    width: 50px;
    border: 2px solid #ff0000;
  }

  .user-info {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .user-info h3 {
    font-size: 15px;
  }

  .slider p {
    font-size: 12px;
  }
  .testimony-btn {
    width: 80%;
    max-width: 250px;
  }
}
/* Responsive Styling for Smaller Screens */
@media (max-width: 1024px) {
  .testimonials {
    padding: 0 40px;
  }

  .next-btn,
  .back-btn {
    padding: 10px;
    width: 40px;
  }

  .slider ul {
    width: 400%; /* Adjust width for smooth scrolling */
  }

  .slider ul li {
    width: 100%; /* Display only one testimonial at a time */
    padding: 10px;
  }

  .slide {
    padding: 20px;
  }

  .slide img {
    width: 50px;
    border: 2px solid #ff0000;
  }

  .user-info {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .user-info h3 {
    font-size: 16px;
  }

  .slider p {
    font-size: 12px;
  }
  .testimony-btn {
    margin: 0 10%;
    width: 80%;
    max-width: 250px;
  }
}
